table{
    border-collapse: collapse;
    
}

caption, th, td{
    padding: 5px;
    border: thin solid black;
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th{
    text-align: center;
}

.headers, .category{
    background-color: rgb(189, 179, 179);
}

table tbody tr:nth-of-type(odd){
    background-color:rgb(230, 226, 226);
}

table tbody tr:nth-of-type(even){
    background-color: aliceblue;
}

.name, .category{
    font-weight: bold;
}

table tbody tr:hover {
    background-color: yellow;
  }